<% if (sboard) { %>
    <div id='' class='w-100'>

        <p class="fw-bolder text-break  <%= custom.title %>">
            <%= sboard.name %>
        </p>
        <div class="row mb-1">
            <div class="">
                <p class="pb-0 mb-0 text-break">
                    <%= sboard.description %>
                </p>
            </div>

        </div>
        <div class="border-bottom pb-2 mb-2 row">
            <div class="col">
                <% if (!exclude.includes("tags")) { %>
                    <p class="text-break mb-0">
                        Tags: <%= sboard.tags %> 
                    </p>
                <% } %>
                <% if (!exclude.includes("boardOwner")) { %>
                    <small>Created by <%= sboard.user.display_name %> </small>
                <% } %>
            </div>
            <% if (!exclude.includes("date")) { %>
                <div class="col-lg-3 d-flex flex-column align-items-center justify-content-center">
                    <%- include ('./dates.ejs',{created_at: sboard.created_at, updated_at: sboard.updated_at}) -%>
                </div>
            <% } %>
        </div>
    </div>
<% } %>