<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row min-vh-100">
            <div class="col-md  bg-dark d-flex align-items-center justify-content-center">
                <%- include("./partials/intro") %>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <div class="" style="width:20rem;">
                    <form action="/account/reset-password/<%= token %>" method="post">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <h1 class="fw-bolder mb-4"> Change your Password </h1>
                        <div class="mt-4">
                            <%- include("./partials/error.ejs")%>
                            <%- include("./partials/success.ejs")%>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label fw-bold">Password</label>
                            <div class="">
                                <input type="password" name="password" class="form-control form-control-sm" id="" required minlength="8">
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="confirmPassword" class="form-label fw-bold">Confirm Password</label>
                            <div class="">
                                <input type="password" name="confirm_password" class="form-control form-control-sm" id="" required minlength="8">
                            </div>
                        </div>
                        <input type="hidden" name="token" value="<%= token %>">
                        <input type="hidden" name="email_address" value="<%= email_address %>">
                        <button type="submit" id="" class="btn btn-dark btn-sm w-100 ">
                            Change Password
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
</body>
<%- include('./partials/cdn') -%>
</html>