<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <%- include('./partials/navbar.ejs',{active:title.toLowerCase() }) %>
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-6">
                <h1 class="fw-bolder"><%=title%> a sound board</h1>
                <p>Make sure your visitors wont get bored! 😉</p>
                <%let route = title == 'Edit' ? sboard.board_id+"/edit" : title.toLowerCase()%>
                <form onsubmit="return onFormSubmit()" action="/soundboards/<%=route%>" method="post" id="createSoundBoardForm">
                    <%- include("./partials/error.ejs")%>

                    <input type="hidden" name="board_id" value="<%=sboard.board_id%>">
                    <div class="mb-3">
                        <label for="name" class="form-label fw-bold" >Name/Title</label>
                        <input type="text" name="name" value="<%= sboard.name %>" class="form-control form-control-sm" id="" placeholder="ex. Dota Voice Lines" minlength="1" maxlength="32" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label fw-bold" >Description</label>
                        <textarea name="description" maxlength="128" class="form-control form-control-sm" id="" cols="30" rows="3"><%= sboard.description %></textarea>
                        <div class="form-text">
                            Maximum length of 128 characters.
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="tags" class="form-label fw-bold" >Tags</label><br>
                        <div class="row gap-1">
                            <div class="col-md-10 ">
                                <input type="text" id="tagsField" name="" class="form-control form-control-sm" name="" id="" maxlength="16">
                            </div>
                            <div class="col">
                                <button type="button" id="addTagButton" class="btn btn-outline-dark btn-sm w-100 ">
                                    Add
                                </button>
                            </div>                            
                        </div>
                        <input type="hidden" name="tags" id="tags">
                        <div class="form-text">Click on a tag to remove it.</div>
                        <div id="tagsContainer" class="">
                            <% let tags = sboard.tags === null ? [] : sboard.tags.split(',') %>
                            <% for( let index = 0; index < tags.length; index++ ) { %>
                                <button type="button" class="btn btn-light btn-sm mb-1 tag" ><%= tags[index] %></button>
                            <% } %>

                        </div>
                    </div>
                    <div class="mb-4 d-flex justify-content-end">
                        <button type="submit" class="btn btn-dark btn-sm"><%= title %> board</button>
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
                <% if (title == 'Edit') { %>
                    <form action="/soundboards/<%=sboard.board_id%>/delete" method="post" onsubmit="return confirm('All categories, comments, and sounds will be lost. Proceed?')">
                        <div class="d-flex justify-content-start">
                            <small>
                                <button type="submit" class="btn btn-outline-dark btn-sm d-flex delete-btn">Delete</button>
                            </small>
                        </div>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    </form>
                <% } %>
          
            </div>
        </div>
    </div>
    <%- include('./partials/cdn.ejs')%>
</body>
<script src="/static/js/create-sboard.js"></script>
</html>
