<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explore</title>
</head>
<body>
    <%- include('./partials/navbar.ejs')%>

    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-5">
                <h1 class="fw-bolder">Search</h1>
                <p>
                    Searching is done by a board's tags or its name.
                </p>
                <form action="/soundboards" method="get" class="row g-3">
                    <div class="col-sm-10">
                        <input class="form-control form-control-sm w-100" type="text" placeholder="ex. sound fx" name="filter">

                    </div>
                    <div class="col-sm-2">
                        <div class="w-100">
                            <button class="btn btn-primary w-100 btn-sm">
                                  Search
                            </button>
                        </div>
                    </div>
                </form>
                <div id="searchResults" class="py-4">
                    <% for( let index = 0; index < sboards.length; index++ ) { %>
                        <a href="/home?boardId=<%=sboards[index].board_id%>" target="_blank" class="text-decoration-none text-dark">
                        <div class="card mb-3">
                            <div class="card-body">
                                    <%- include('./partials/soundBoardHeader.ejs',
                                    {
                                        "exclude":["date","boardOwner"],
                                        "custom":{
                                            title:"h4"
                                        },
                                        "sboard":sboards[index]
                                    })%>
                            </div>
                        </div>
                        </a>
                    <% } %>
                </div>
                <div class="d-flex gap-3 justify-content-center">
                    <% if (offset && offset !=0 ) { %>
                        <a class="btn btn-primary btn-sm " href="/soundboards?offset=<%=(parseInt(offset) -5) || 0%>" role="button" style="min-width:5rem;"> 
                            Previous
                        </a> 
                    <% } %>
                    <% if (sboards.length >= 5) { %>
                        <a class="btn btn-primary btn-sm" href="/soundboards?offset=<%=(parseInt(offset) + 5) || 0%>" role="button" style="min-width:5rem;"> 
                            Next
                        </a>                     
                    <% } %>
                </div>
            </div>
            <div class="col-lg-5">

            </div>
        </div>
    </div>
    <%- include('./partials/cdn.ejs')%>
</body>
</html>