<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <%- include('./partials/navbar.ejs',{active:"profile"}) %>
        <div class="container py-4 mt-5 d-flex justify-content-center align-items-center">
            <div style="min-width: 25rem;">
                <form action="/profile/update/name" method="post">
                    <h1 class="fw-bolder mb-4">Account</h1>
                    <%- include('./partials/error.ejs') %>
                    <%- include('./partials/success.ejs') %>
                    <div class="mb-3">
                        <label for="displayName" class="form-label fw-bold" >Display Name</label>
                        <input type="text" class="form-control form-control-sm" name="display_name" id="" value="<%= display_name %>" placeholder="your name here">
                    </div>
                    <div class="mb-4">
                        <label for="emailAddress" class="form-label fw-bold" name="emailAddress">Email address</label>
                        <input type="text" readonly class="form-control form-control-sm" id="" name="email_address" value="<%= email_address %>" placeholder="email address">
                    </div>
                    <div class="mb-3 d-flex flex-row gap-2 justify-content-end">
                        <button class="btn btn-sm btn-dark" data-bs-toggle="modal"
                            data-bs-target="#changePasswordModal" type="button">Change password</button>
                        <button class="btn btn-sm btn-dark" type="submit">Edit name</button>
                    </div>
                </form>
            </div>
            <div class="modal fade" id="changePasswordModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
                aria-labelledby="changePasswordModal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title fw-bolder" id="">Change password</h3>
                        </div>
                        <div class="modal-body">
                            <form action="/account/password" method="post">
                                <div class="mb-3">
                                    <label for="oldPassword" class="form-label fw-bold" >Old
                                        password</label>
                                    <input type="password"  name="old_password" class="form-control form-control-sm" id="" placeholder="">
                                </div>
                                <div class="mb-3">
                                    <label for="newPassword" class="form-label fw-bold" >New
                                        password</label>
                                    <input type="password" class="form-control form-control-sm" name="password" id="" placeholder="">
                                </div>
                                <div class="mb-4">
                                    <label for="confirmNewPassword" class="form-label fw-bold"
                                        name="confirm_password">Confirm new password</label>
                                    <input type="password" class="form-control form-control-sm" name="confirm_password" id="" placeholder="">
                                </div>
                                <div class="d-flex justify-content-end gap-2">
                                    <button type="button" class="btn btn-outline-dark btn-sm" data-bs-dismiss="modal">
                                        Close
                                    </button>
                                    <input class="btn btn-dark btn-sm" type="submit" value="Change" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</body>
<%- include('./partials/cdn.ejs') %>

</html>